---
import Layout from '../layouts/Layout.astro';
import { Buscador } from '../components/Buscador'
---

<Layout title="Clonify">
	<div
    style={{scrollbarWidth: "none"}}
    class="transition-all duration-1000 overflow-auto p-4 bg-green-600 h-full w-[76vw] lg:w-full"
    id="playlist-container">
        <Buscador client:load/>
    </div>
</Layout>

<style>

</style>
