---
import LibraryIcon from "../icons/Library.astro"
import HomeIcon from "../icons/Home.astro"
import SearchIcon from "../icons/Search.astro"
import TimeIcon from "../icons/Time.astro"

import { playlists } from "../lib/data"

import SideMenuItem from "./SideMenuItem.astro"
import SideMenuCard from "./SideMenuCard.astro"
---

<nav class="flex flex-col flex-1 gap-2">
    <div class="bg-zinc-900 rounded-lg p-2">
        <ul class="w-full flex flex-row lg:flex-col items-center justify-evenly pt-3">
            <SideMenuItem href="/">
                <HomeIcon/>
                Home
            </SideMenuItem>
            <SideMenuItem href="/">
                <SearchIcon/>
                Search
            </SideMenuItem>
        </ul>
    </div>
    <div class="bg-zinc-900 rounded-lg p-2 flex-1 hidden lg:flex lg:flex-col">
        <ul>
            <SideMenuItem href="/">
                <LibraryIcon/>
                Your Library
            </SideMenuItem>
        </ul>
        <ul style={{scrollbarWidth: "none"}} class="overflow-hidden overflow-y-auto lg:max-h-[35vh]">
            {
                playlists.map(playlist => <SideMenuCard playlist={playlist}/>)
            }
        </ul>
    </div>
</nav>
